<div class="card-header border-0">
	<div class="row align-items-center">
		<div class="col">
			<h2 class="mb-0">{{ status }} Applications</h2>
		</div>
	 </div>
</div>
<div class="table-responsive">
	<!-- Client : Candidate Table : Schedule Statuswise -->
	<table id="jobs-table" class="table align-items-center table-flush">
		<thead class="thead-light">
			<tr>
				<th scope="col">Applicant</th>
				<th scope="col">Scheme</th>
				<th scope="col">Status</th>
				<th scope="col">Remaining Days</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for application in applications %}
				<tr>
					<th scope="row">
						{{ application.applicant.full_name }}
					</th>
					<th scope="row">
						{{ application.scheme.name }}
					</th>
					<td>
						<span class="badge badge-pill badge-{% if application.status == 'Pending' %}warning{% elif application.status == 'Reviewed' %}info{% elif application.status == 'Rejected' %}danger{% else %}success{% endif %}">
							{{ application.status }}
						</span>
					</td>
					<td class="align-center">
						{{ application.getRemainingDays }}
							
					</td>
					<td class="align-center">
						{% if application.status == 'Pending' %}
							<a href="{% url 'change_status' application.id %}"><button class="btn btn-primary btn-sm">Review</button></a>
						{% else %}
							<a href="{% url 'view_application' application.id %}"><button class="btn btn-primary btn-sm">View</button></a>
						{% endif %}
					</td>
					
				</tr>
				{% empty %}
				<tr>
					<td colspan="7" class="text-center bg-warning">No applications with {{ status|lower }} status!</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
