<div class="card-header border-0">
	<div class="row align-items-center">
		<div class="col">
			<h2 class="mb-0">{{ status }} Applications</h2>
		</div>
	 </div>
</div>
<div class="table-responsive">
	<!-- Client : Candidate Table : Schedule Statuswise -->
	<table id="jobs-table" class="table align-items-center table-flush">
		<thead class="thead-light">
			<tr>
				<th scope="col">Scheme</th>
				<th scope="col">office Type</th>
				<th scope="col">Location</th>
				<th scope="col">Status</th>
				<th scope="col">Remaining Days</th>
			</tr>
		</thead>
		<tbody>
			{% for application in applications %}
				<tr>
					<th scope="row">
						<a href="">
							{{ application.scheme.name }}
						</a>
					</th>
					<td>
						{{ application.office.office_type }}
					</td>
					<td>
						{{ application.office.location }}
					</td>
					<td>
						<span class="badge badge-pill badge-{% if application.status == 'Pending' %}danger{% elif application.status == 'Reviewed' %}info{% else %}success{% endif %}">
							{{ application.status }}
						</span>
					</td>
					<td class="align-center">
						{{ application.getRemainingDays }}
							
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="7" class="text-center bg-warning">No applications with {{ status|lower }} status!</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
